/Head_First_Design_Patterns/out
/Head_First_Design_Patterns/.idea
/deeplearning.ai/Neural_Networks_and_Deep_Learning/.ipynb_checkpoints
/deeplearning.ai/Neural_Networks_and_Deep_Learning/__pycache__
/deeplearning.ai/Improving_Deep_Neural_Networks_Hyperparameter_tuning_Regularization_and_Optimization/.ipynb_checkpoints
/deeplearning.ai/Improving_Deep_Neural_Networks_Hyperparameter_tuning_Regularization_and_Optimization/__pycache__
/deeplearning.ai/Convolutional_Neural_Networks/week1/.ipynb_checkpoints
/deeplearning.ai/Convolutional_Neural_Networks/week1/__pycache__
/deeplearning.ai/Convolutional_Neural_Networks/week2/.ipynb_checkpoints
/deeplearning.ai/Convolutional_Neural_Networks/week2/__pycache__
/deeplearning.ai/Convolutional_Neural_Networks/week3/.ipynb_checkpoints
/deeplearning.ai/Convolutional_Neural_Networks/week3/__pycache__
/deeplearning.ai/Convolutional_Neural_Networks/week4/.ipynb_checkpoints
/deeplearning.ai/Convolutional_Neural_Networks/week4/__pycache__
Head_First_Design_Patterns/Head_First_Design_Patterns.iml
/deeplearning.ai/Recurrent_Neural_Networks/week2/Word Vector Representation/data/glove.6B.50d.txt
/deeplearning.ai/Recurrent_Neural_Networks/week2/Emojify/data/glove.6B.50d.txt
*.pyc
*.exe
*.class
*.xml
*.h5
*.csv
*.mat
*.npy